<h1>Update Student</h1>
<%= form_for(@student) do |f| %>
  <%= f.label :student_first_name, "First Name: " %><br>
  <%= f.text_field :first_name %><br>
  <%= f.label :student_last_name, "Last Name: " %><br>
  <%= f.text_field :last_name %><br>
  <%= f.submit "Update Student"%>

<% end %>
